
.main{
  background-color: aquamarine;
  height: 100vh;
}

.child{
  position: fixed;
  bottom: 48px;
  left: 200px;
}

.child button{
  background-color: red;
  padding: 4px 5px;
  border-radius: 10px;

}